<div class="container">
  <div class="col-md-5">
    <div class="form-area">
      <form role="form">
        <br style="clear:both">
        <h1 style="margin-bottom: 25px; text-align: center;">Formulaire d'inscription </h1>
        <div class="form-group">
         <h2>Nom</h2>
          <input type="text" class="form-control" id="lastName" name="name" placeholder="Nom" required>
        </div>
        <div class="form-group">
          <h2>Prenom</h2>
          <input type="text" class="form-control" id="firstName" name="email" placeholder="Prenom" required>
        </div>
        <div class="form-group">
          <h2>Email</h2>
          <input type="email" class="form-control" id="email" name="email" placeholder="nom-prenom@gmail.com" required>
        </div>
        <div class="form-group">
          <h2>Identifiant</h2>
          <input type="text" class="form-control" id="id" name="identifiant" placeholder="Identifiant " required>
        </div>
        <div class="form-group">
          <h2>Mot de Passe</h2>
          <input type="password" class="form-control" id="password" name="password" placeholder="Mot de Passe (minimum 6 caractères) " required>
        </div>
        <div class="form-group">
          <h2>Confirmation de Mot de Passe</h2>
          <input type="password" class="form-control" id="password2" name="cpassword"  placeholder="Confirmation Mot de Passe " required>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Valider</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/login']" class="btn btn-link">Annuler</a>
        </div>
      </form>
    </div>
  </div>
</div>

