<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ tournament.name }}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <div class="panel panel-default">
            <div class="panel-body">
              match1<br/>
              machin vs truc<br/>
              0 2
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
          <div class="panel panel-default">
            <div class="panel-body">
              match3<br/>
              truc vs muche<br/>
              en cours
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="panel panel-default">
            <div class="panel-body">
              match2<br/>
              muche vs bidule<br/>
              2 1
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
